{% include header.html %}

<div class="container container-left">
    <div class="row">
        <div class="col-md-3 hidden-xs">
            {% include sidebar.html %}
        </div>

        <div class="col-md-9">
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- 블로그2 -->
            <ins class="adsbygoogle"
                 style="display:block"
                 data-ad-client="ca-pub-2826757624809805"
                 data-ad-slot="6025172904"
                 data-ad-format="auto"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
            {{ content }}
        </div>
    </div>
</div>

{% include footer.html %}